body {
  min-height: 100%;
}

.image-slides {
  height: 25vh;
  object-fit: cover;
}

.home-image {
  /* Set height to predictably stretch the buttons slide to bottom */
  height: 25vh;
  object-fit: cover;
}

/* Buttons */
.menu-button {
  /* top leftright bottom */
  margin: 20px 5px 10px;
  color: white
}

/* Icons */
ion-icon {
  font-size: 30px
}

/* Icon text */
ion-col {
  color: white;
  font-size: 12pt;
}

/* Slides containing buttons stretch to bottom */
.slides-buttons-container {
  /* Calculate height to push paginator to bottom and
  color the slides that the buttons are on */
  height: calc(100vh - 56px - 25vh);
  background-color: #2b4c9b;
}

.slide-grid {
  /* TODO: Trying to position grid within slides higher (not working) */
  position: absolute;
  /* position: relative; */
  top: 0%;
}

/* Align buttons */
ion-row {
  margin-bottom: 5%;
}