body {
  /* background-color: blue; */
  min-height: 100%;
}
ion-content {
  background-color: #2b4c9b;
}


.titleicon {
  /* Fixed size of title icon in toolbar to get good image display.
  (Toolbar is 56px tall so default to 56px.) */
  height: 56px;
}

.title {
  /* Controls how close the homepage title is to the icon */
  padding-left: 5px;
}

.settings {
  /* Push settings button to right */
  margin: 0 auto;
}

.image-slides {
  height: 25vh;
  object-fit: cover;
}

.home-image {
  /* Set height to predictably stretch the buttons slide to bottom */
  height: 25vh;
  object-fit: cover;
}

/* Buttons */
.menu-button {
  /* top leftright bottom */
  margin: 20px 5px 10px;
  color: white
}

/* Icons */
ion-icon {
  font-size: 30px
}

/* Icon text */
ion-col {
  color: white;
  font-size: 12pt;
}

/* Slides containing buttons stretch to bottom */
.slides-buttons-container {
  /* Need to calculate height to push paginator to bottom and
  color the slides that the buttons are on */
  height: calc(100vh - 56px - 25vh);
  background-color: #2b4c9b;
}

.slide-grid {
  position: absolute;
  /* position: relative; */
  top: 0%;
}

/* Align buttons */
ion-row {
  margin-bottom: 5%;
}